{% extends 'base.html.twig' %}

{% block title %}Hello AddressController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mes addresses</h1>
    {% for address in addresses %}
        <ul>
            <li>
                {{address.street}} {{address.zip}} {{address.city}}
                <a href="{{path('app_address_update', {address: address.id, user: user.id})}}">Modifier</a>
                <a href="{{path('app_address_delete', {address: address.id, user:user.id})}}">Supprimer</a>
            </li>
        </ul>
    {% endfor %}
    <a href="{{path('app_address_new', {user: user.id})}}">Ajouter une addresse</a>
    <a href="{{path('app_user', {user: user.id})}}">Mon espace</a>
    
</div>
{% endblock %}
